@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

body::-webkit-scrollbar-track {
    background: #1f2937;
}

body::-webkit-scrollbar-thumb {
    background: #374151;
}

body::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
}
